<div mat-dialog-title class="text-center">Create New Rule</div>
<div mat-dialog-content class="my-3">
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Rule Name</label>
            <input type="text" name="inputRule" class="form-control" id="inputRule" [(ngModel)]="_nameRule"  placeholder="NewRule">
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" name="textAreaFunctionRule" [(ngModel)]="_functionRule" id="textAreaFunctionRule" rows="3"></textarea>
        </div>
    </form>
</div>
<div mat-dialog-actions class="btns-actions">
  <button mat-flat-button color="warn" [matDialogClose] >Cancel</button>
  <button mat-flat-button color="primary" (click)="confirmDialog()">Create</button>
</div>