<div class="tw-block-parent animated fadeIn fast" [ngClass]="{'tw-match' : match}">
    <div class="timeline-TweetList-tweet">
      <div class="timeline-Tweet">
        <div class="timeline-Tweet-brand">
          <div class="Icon Icon--twitter"></div>
        </div>
        <div class="timeline-Tweet-author">
            <div class="TweetAuthor">
              <a class="TweetAuthor-link" href="#channel"></a>
                <span class="TweetAuthor-avatar"> 
                    <div class="Avatar" [ngStyle]="{'background-image': 'url(' + image + ')'}"> </div>
                </span>
                <span class="TweetAuthor-name">
                    {{ username}}
                </span>
                <span class="Icon Icon--verified"></span>
                <span class="TweetAuthor-screenName">{{handle}} </span>
            </div>
        </div>
        <div class="timeline-Tweet-text">
            {{ content }}
            <a href="#" *ngFor="let item of hashtags"> {{item}} </a>
        </div>
        <div class="timeline-Tweet-metadata"><span class="timeline-Tweet-timestamp">9h</span></div>
        <ul class="timeline-Tweet-actions">
          <li class="timeline-Tweet-action"><a class="Icon Icon--heart" href="#"></a></li>
          <li class="timeline-Tweet-action"><a class="Icon Icon--share" href="#"></a></li>
          <li class="timeline-Tweet-action total-match" *ngIf="match">
            <b>
              Total Match: {{total}}
            </b>
          </li>
        </ul>
      </div>
    </div>
</div>