.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}


.title-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-matches{
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.skill-list{
    display : flex;
    justify-content: between;
}

.match-token{
    color: red;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
