<!-- HEADER -->
<div class="row home-container">
    <div class="col-md-12 text-center mt-3">
        <h3>OFFLINE MATCHER</h3>
    </div>
</div>
<!-- CONTENT PAGE -->
<div class="row home-container">
    <div class="col-md-8">

        <div class="row  mt-5">
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Input Trace</span>
                </div>
                <input type="text" class="form-control"  placeholder="acbab" [ngModel]="_input" (ngModelChange)="_input = $event.toLowerCase()" >
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" (click)="openGenerateInputDialog()" type="button">Autogenerate</button>
                </div>
            </div>
    
            <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Token</span>
                </div>
                <input type="text" class="form-control"  placeholder="abb"  [ngModel]="_token" (ngModelChange)="_token = $event.toLowerCase()">
            </div>
        </div>

        <div class="row" >
            <div class="col-12 text-end">
                <mat-checkbox color="primary" class="text-right" [(ngModel)]="_regexActivate">Regex</mat-checkbox>
            </div>
        </div>
        
        <div class="row my-3">
            <div class="col-md-12 text-center">
                <button
                    class="col-md-8"
                    mat-raised-button 
                    [disabled]="_token == '' || _input == ''"
                    (click)="matchProcess()" 
                    color="primary"
                >
                    <mat-icon > account_tree </mat-icon>
                    Match It!
                </button>
            </div>
        </div>
        
        <div class="dropdown-divider my-3"></div>
        
        <div *ngIf="_regexErrorValidator.active">
            <div class="text-center">
                <h5>Error Token!</h5>
                <p class="my-2">
                    <strong>{{_regexErrorValidator.text}}</strong>
                </p>
            </div>
        </div>


        <div *ngIf="_match_complete">
            
            <div class="text-center">
                <h5>Token Pattern </h5>
                <p class="my-2">
                    <strong>{{_tokenPattern}}</strong>
                </p>
            </div>
    
            <div class="dropdown-divider my-3"></div>
            

            <div class="text-center">
                <h5>Input Trace Match</h5>
                <div class="skill-list">
                    <p class="skills" *ngFor="let mathView of _matchViews" [ngClass]="{'match-token':mathView.active}">
                        {{mathView.text}}
                     </p>
                </div>
            </div>

            <div class="dropdown-divider my-3"></div>

            <div class="text-left my-2">
                <strong>RESULT: TOTAL {{ getMatches().length }} MATCHES</strong>
            </div>
            <div *ngIf="getMatches().length == 0">
                <strong>There were no matches :c</strong>
            </div>
            <ul class="list-group list-rules mb-5 list-matches">
                <li class="list-group-item" *ngFor="let item of getMatches(); let i = index">
                    MATCH. {{i}} |   Symbol: {{item.token}} - Token Index: {{item.index}}
                </li>
            </ul>

        </div>

    </div>
    <div class="col-md-4">
        <div class="text-center">
            <strong>RULES</strong>
        </div>

        <div class="dropdown-divider my-3"></div>

        <mat-card>

            <mat-card-title class="title-card">
                Cell-Evolution Rules
            </mat-card-title>
        
            <mat-card-content>
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    color="primary"
                    [(ngModel)]="favoriteSeason">
                    <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                        <strong>{{season}}</strong>
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
        </mat-card>


        <div class="dropdown-divider my-3"></div>

        <mat-card>

            <mat-card-title class="title-card">
                Solution-Evolution Rules
            </mat-card-title>

            <button mat-icon-button class="more-button" (click)="openAddRuleDialog()">
                <mat-icon>add</mat-icon>
            </button>
        
            <mat-card-content>
                <mat-list>

                    <mat-list-item>
                        <mat-checkbox
                        color="primary"
                        [(ngModel)]="master_checked"
                        [(indeterminate)]="master_indeterminate"
                        (change)="master_change()"
                        >
                            <strong>Check/ Uncheck All</strong>
                        </mat-checkbox>
                    </mat-list-item>
            
                    <mat-list-item 
                    style="margin-left: 1rem;"
                    *ngFor="let item of checkbox_list">
                        <mat-checkbox
                        color="primary"
                        [(ngModel)]="item.checked"
                        [disabled]="item.disabled"
                        [labelPosition]="item.labelPosition"
                        (change)="list_change()"
                        >
                            <strong>{{ item.name }}</strong>
                        </mat-checkbox>
                    </mat-list-item>
            
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>