.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.more-info {
    position: absolute;
    top: 5px;
    right: 40px;
}

.delete-button{
    position: absolute;
    top: 5px;
    right: 10px;
}

