<div mat-dialog-title class="text-center">Auto-Generate Input</div>
<div mat-dialog-content class="my-3">
    <!-- ARRAY CHARS -->
    <div class="form-group">
        <label>Characters Input</label>
        <input type="text" class="form-control" placeholder="a,b,c,d,e,f,g"  [(ngModel)]="_input">
        <small id="array-input" class="form-text text-muted">Each character separated by comma</small>
    </div>
    <!-- LENGTH INPUT -->
    <div class="form-group">
        <label>Length Input</label>
        <input type="number" min="1" class="form-control" [(ngModel)]="_length">
    </div>
</div>
<div mat-dialog-actions class="btns-actions">
  <button mat-flat-button color="warn" (click)="cancelDialog()">Cancel</button>
  <button mat-flat-button color="primary" [disabled]="!validateForm()" (click)="confirmDialog()">Generate</button>
</div>