<mat-toolbar color="primary">
    <!-- <button mat-icon-button >
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>MATCHER CELLS</span>
    <span class="spacer"></span>
    <button mat-button (click)="navigateRoute('/')">
      Home
    </button>
    <button mat-button (click)="navigateRoute('/offline')">
      Playground
    </button>
    <button mat-button (click)="navigateRoute('/twitter')">
      Twitter (CS1)
    </button>
    <button mat-button (click)="navigateRoute('/trace-execute')">
      Context-Aware System (CS2)
    </button>
</mat-toolbar>