<!-- HEADER -->
<div class="row home-container">
    <div class="col-md-12 text-center mt-3">
        <h3>CASE 1: TWITTER</h3>
    </div>
</div>
    <!-- CONTENT PAGE -->
    <div class="row home-container">
    <!-- DEBUG INFO -->
    <div class="col-md-3 text-center">
        <p class="text-center"><strong>DEBUG INFORMATION</strong></p>
        <ul class="list-group">
            <li>Timer Generation
                <span class="badge">{{timerGenerate}}</span>
            </li>
            <li>Total Tweets
                <span class="badge">{{tweetList.length}}</span>
            </li>
            <li>Total Matchs
                <span class="badge">0</span>
            </li>
        </ul>
        <button
        class="my-3"
        mat-raised-button 
        (click)="generateTweet()" 
        color="primary">
            <mat-icon >refresh</mat-icon>
            Generate Tweet
        </button>
    </div>
    <!-- LIST TWEET -->
    <div class="col-md-5 tweet-list">
        <app-tweet
        *ngFor="let item of tweetList"
        [username]="item.username"
        [content]="item.content"
        [hashtags]="item.hashtag"
        ></app-tweet>
    </div>
    <!-- CONFIGURATION OPTIONS -->
    <div class="col-md-4">
        <!-- RULES -->
        <div class="text-center my-3">
            <strong>Current Rules</strong>
        </div>
        <ul hidden class="list-group list-rules">
            <li class="list-group-item" *ngFor="let item of rules">{{item}}</li>
        </ul>
        
        <div cdkDropListGroup>
            <div
                cdkDropList
                [cdkDropListData]="rules"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of rules" cdkDrag>{{item}}</div>
            </div>
        </div>

        <div class="dropdown-divider my-4"></div>

        <!-- SEQUENCE -->
        <div class="form-group row">
            <label class="col-md-12 text-center col-form-label">
                <strong>Sequence</strong>
            </label>
            <div class="col-md-12">
                <input 
                type="text" 
                class="form-control" 
                id="sequeNew"
                [(ngModel)]="newSequence"
                (keydown.enter)="addSequence()"
                placeholder="New Sequence...">
            </div>
        </div>
        
        <div class="text-center my-3">
            <strong>Current Sequence List</strong>
        </div>
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip 
            *ngFor="let chip of availableColors" 
            selectable 
            removable
            (removed)="remove(chip.name)"
            >
            {{chip.name}}
            <mat-icon  matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>