

.tweet-list{
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 675px;
}

mat-chip {
    justify-content: space-between;
}

.list-rules{
    width: 100%;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.delete-button{
    position: absolute;
    top: 5px;
    right: 10px;
}