<ngx-spinner type = "timer">
    <p style="color: white" > Loading... </p>
</ngx-spinner>
<!-- HEADER -->
<div class="row home-container">
    <div class="col-md-12 text-center mt-3">
        <h2>TRACE EXECUTION - CASE 2</h2>
    </div>
</div>
<!-- CONTENT PAGE -->
<div class="row home-container">
    <div class="col-md-12 text-center">
        <img src="https://steamuserimages-a.akamaihd.net/ugc/818937339219845350/1774A289109BA488C2C9346BE10750C37E09336F/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="">
    </div>
</div>  