.game-container{
    margin-left: auto; 
    margin-right: auto;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 25vh; */
    align-items: center;
    /* margin-right: 5vh;
    margin-left: 5vh; */
    border: 2px solid darkgray;
    border-radius: 25px;
}

.game-container h1{
    padding: 10px 0px;
}

.timer-box p{
    font-size: 25px;
    font-style: bold;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.inner-box{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    height: 100px;
    margin: 20px 0px;
}

#v1, #v2 {
    border-radius: 5px;
    font-size: 50px;
    height: 125px;
    min-width: 125px;
    max-width: 200px;
    border: 1px solid rgb(169, 169, 169);
    margin: 1%;
    text-align: center;
}

.box1 p{
    font-size: 50px;
    margin: 0px 30px;
}

.middle-box{
    margin: 20px 0px;
}

#answer{
    font-size: 50px;
    height: 50px;
    width: 200px;
    text-align: center;
    margin: 0;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}


#answer::-webkit-outer-spin-button,
#answer::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.bnts-box{
    display: flex;
    align-items: center;
}

.bnts-box button{
    margin: 20px 15px;
}

.info {
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
}

.good{
    background-color: green;
    color: white;
}

.bad{
    background-color: red;
    color: white;
}