<ngx-spinner type = "timer">
    <p style="color: white" > Loading... </p>
</ngx-spinner>

<!-- HEADER -->
<div class="row home-container">
    <div class="col-md-12 text-center my-3">
        <h2>CONTEXT-AWARE SYSTEM - CASE STUDY 2</h2>
    </div>
    <button (click)="openInformationDialog()" mat-mini-fab color="primary" class="my-3" style="position: absolute; right: 15px">
      <mat-icon>help</mat-icon>
    </button>
</div>
<!-- CONTENT PAGE -->
<div class="row home-container">
  <div class="col-lg-5">
    <mat-card >
      <mat-card-title class="title-card">
          Configuration
      </mat-card-title>

      <mat-card-content>
          <div class="row">
              <mat-form-field class="col-xl-6">
                  <mat-label>Number for UP LEVEL</mat-label>
                  <input 
                  [(ngModel)]="configUser.number_good_performance"
                  matInput
                  min="0"
                  type="number" >
                  <span matSuffix></span>
              </mat-form-field>
              <mat-form-field class="col-xl-6">
                  <mat-label>Time for UP LEVEL</mat-label>
                  <input 
                  [(ngModel)]="configUser.good_performance"
                  matInput
                  min="0"
                  type="number" >
                  <span matSuffix>sec</span>
              </mat-form-field>
              <mat-form-field class="col-xl-6">
                <mat-label>Number for DOWN LEVEL</mat-label>
                <input 
                [(ngModel)]="configUser.number_need_help"
                matInput
                min="0"
                type="number" >
                <span matSuffix></span>
              </mat-form-field>
              <mat-form-field class="col-xl-6">
                  <mat-label>Time for DOWN LEVEL</mat-label>
                  <input 
                  [(ngModel)]="configUser.need_help"
                  matInput
                  min="0"
                  type="number" >
                  <span matSuffix>sec</span>
                  <mat-hint></mat-hint>
              </mat-form-field>
              <mat-form-field class="col-xl-12">
                <mat-label>Number for SKIP</mat-label>
                <input 
                [(ngModel)]="configUser.number_skip"
                matInput
                min="0"
                type="number" >
                <span matSuffix></span>
              </mat-form-field>
              <mat-form-field class="col-xl-6">
                <mat-label>Number for KEEP LEVEL</mat-label>
                <input 
                [(ngModel)]="configUser.number_medium_performance"
                matInput
                min="0"
                type="number" >
                <span matSuffix></span>
              </mat-form-field>
              <mat-form-field class="col-xl-6">
                <mat-label>Time for KEEP LEVEL</mat-label>
                <input 
                [(ngModel)]="configUser.medium_performance"
                matInput
                min="0"
                type="number" >
                <span matSuffix>sec</span>
              </mat-form-field>
              <div class="col-xl-12 text-center mt-2">
                <button
                    class="col-md-8"
                    mat-raised-button 
                    color="primary"
                    (click)="setAndResetInformation()"
                >
                  <mat-icon > settings </mat-icon>
                  Set and Reset
                </button>
              </div>
          </div>
      </mat-card-content>
      
    </mat-card>

    <div *ngIf="logs.length > 0" class="dropdown-divider my-3"></div>

    <mat-list [style.overflow]="'auto'" [style.height.px]="'250'">
      <div mat-subheader>LOG</div>
      <mat-list-item *ngFor="let log of logs">
        <mat-icon mat-list-icon [style.color]="log.css">{{log.image}}</mat-icon>
        <div mat-line>{{log.title}}</div>
        <div mat-line [style.color]="log.css"> <strong>{{log.subtitle}} </strong></div>
        <div #badge>{{log.timer}} sec</div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>


  </div>
  <div class="col-lg-7">
    <div class="game-container">
        <h1>Online evaluation</h1>
        <div class="center-div">
            <div class="timer-box">
              <p>Level: {{ currentLevel }}</p>
            </div>
            <div class="timer-box">
              <p>Time(s): {{timerQuestions | number:'3.0' }}</p>
            </div>
    
            <div class="inner-box">
                <div class="box1">
                    <input [(ngModel)]="valuesQuestion[0]" type="number" disabled id="v1">
                </div>
                <div class="box1">
                    <p>+</p>
                </div>
                <div class="box1">
                    <input [(ngModel)]="valuesQuestion[1]" type="number" disabled id="v2">
                </div>
            </div>
            <div class="middle-box">
                <input type="number" id="answer" [(ngModel)]="answer" (keyup.enter)="verify()">
            </div>
    
            <small [hidden]="!textValidation" class="info" [ngClass]="textValidation == 'GOOD' ? 'good' : 'bad'">
              {{textValidation}}
            </small>
    
            <div class="bnts-box">
              <button
              mat-raised-button 
              color="primary"
              [disabled]="!validAnswerBtn()"
              (click)="verify()"
              >
                <mat-icon > fact_check </mat-icon>
                VERIFY
              </button>
              <button
              mat-raised-button 
              color="primary"
              (click)="skip()"
              >
                <mat-icon > skip_next </mat-icon>
                SKIP
              </button>
            </div>
        </div>
    </div>
  </div>
</div>